.sidebar {
  min-height: 100vh;
  max-width: 20vw;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #c7ddff;
  padding: 10px;
}

.sidebar img {
  width: 20px;
}

.sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar .new-chat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 14px;
  color: grey;
  cursor: pointer;
  border: solid 2px #ff6f62;
  background: radial-gradient(#ffffff, #ff6f62);
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1.5s;
}

.sidebar .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebar .recent-entry {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  padding-right: 30px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
}

.sidebar .recent-entry:hover {
  background-color: #e2e6eb;
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
}

.sidebar .bottom-item {
  padding-right: 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
